[Unit]
Description=Apply custom CPU settings based on power profile
After=multi-user.target power-profiles-daemon.service

[Service]
Type=simple
ExecStart=/usr/local/bin/power-profile-freq-cap.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
